* {
  margin: 0px;
  align-items: center;
  background-color: var(--body-bg-color);
}

.redessociais a {
  text-decoration: none;
  color: 000000;
}

:root {
  --body-bg-color: #faf7fd;
  --purple: #bb99dd;
  --font-family-: 'Poppins', sans-serif;
}

.perfil {
  display: block;
  margin: 5rem auto;
  width: 150px;
  height: 150px;
  border-radius: 10rem;
  border: 2px solid var(--purple);
  padding: 0.2rem;
  margin-top: 2rem;
}

p {
  display: flex;
  justify-content: center;
  font-family: var(--font-family-);
  font-size: 1rem;
  color: var(--purple);
  font-weight: 300;
  margin-top: -4.5rem;
}

.redessociais {
  display: flex;
  flex-direction: column;
}

.button {
  height: 49px;
  width: 326px;
  border-radius: 4px;
  border: 2px solid var(--purple);
  margin-top: 5px;
  text-align: center;
}

.button {
  font-family: var(--font-family-);
  font-weight: 600;
  color: var(--purple);
  padding-top: 1.2rem;
}

.button:hover {
  transition: 1s;
  color: white;
  background-color: #c4a6e3;
}

.emojis {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.emojis img {
  padding: 2rem 0.8rem;
}

